* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  display: flex;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h2, h3, p, a, input, label, td {
  color: #5B6983;
}

h1 {
  font-weight: 400;
  font-size: 24px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
}

h3 {
  font-size: 12px;
}

p, a, input, label, td, button {
  font-size: 14px;
  line-height: 17px;
}

a{
  text-decoration: none;
  display: block;
}

main,
.sidebar {
  min-height: 100%;
}

/**********************
********Side Bar*******
***********************/

.sidebar {
  width: 200px;
  min-width: 200px;
  background-color: #283040;
  color: #B9BDCC;
  transition: 200ms;
}

.profile-title {
  color: #B9BDCC;
  display: inline-block;
  margin-left: 45px;
}

.drop-down-arrow {
  height: 12px;
}

.sidebar-profile.links {
  height: 150px;
  padding-top: 25px;
  text-align: center;
}

.links {
  padding: 25px 0;
  border-bottom: solid 2px #23293A;
}

.sidebar-boxes {
  border-bottom: none;
}

.profile-picture {
  display: block;
  width: 50%;
  margin: 0 auto 10px;
}

.sidebar-title {
  padding-left: 20px;
  margin-bottom: 10px;
  opacity: .8;
}

.sidebar-link {
  display: block;
  padding: 10px 0 10px 45px;
  border-left: 2px solid transparent;
  background-position-y: 46%;
  background-position-x: 20px;
  background-repeat: no-repeat;
  background-size: 15px;
  color: #B9BDCC;
}

.home {background-image: url("assets/013-home-interface.svg")}
.jobs {background-image: url("assets/012-vintage.svg")}
.resumes {background-image: url("assets/011-resume.svg")}
.tasks {background-image: url("assets/010-clipboard.svg")}
.calendar {background-image: url("assets/009-calendar.svg")}
.users {background-image: url("assets/008-users.svg")}
.locations {background-image: url("assets/007-locations.svg")}
.workflows {background-image: url("assets/006-workflow.svg")}
.job-boards {background-image: url("assets/005-newspaper.svg")}
.social {background-image: url("assets/004-share.svg")}


.sidebar-link:hover {
  border-left: 2px solid #0094EE;
  background-color: #242B3A;
  color: #fff;
}

.cb-title {
  padding: 10px;
  display: block;
  color: #B9BDCC;
}

input[type="checkbox"] {
  display: inline-block;
  -webkit-appearance:none;
  height: 14px;
  width: 14px;
  cursor:pointer;
  position:relative;
  margin: 0 8px 2px 10px;
  vertical-align: bottom;
}

input[type="checkbox"]:before,
input[type="checkbox"]:checked:before {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align:center;
  color: black;
}

input[type="checkbox"]:checked:before {
 content: '✔';
}

#administrative {background-color: yellow}
#design {background-color: blue}
#executive {background-color: red}
#hr {background-color: green}



/**********************
**********Main*********
***********************/

main {
  width: 100%;
  background-color: #EDF2F6;
}

.top,
.title-header,
.tab-bar {
  background-color: #fff;
}

.top {
  display: flex;
  height: 75px;
  border-bottom: solid #F0F0F0 1px;
}

.top-item {
  height: 100%;
  width: 75px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: 50%;
  background-position-x: 50%;
  border: none;
  border-right: solid #F0F0F0 1px;
}

.search {
  flex: 1;
}

.hamburger-icon {
  background-image: url("assets/hamburger-menu-grey.svg");
}

.search {
  padding-left: 60px;
  background-image: url("assets/search-icon-grey.svg");
  background-position-x: 25px;
  font-size: 16px;
}

::placeholder {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  opacity: .8;
}

.new-profile-icon {
  background-image: url("assets/add-user-grey.svg");
}

.calendar-icon {
  background-image: url("assets/header-calendar-grey.svg");
}

.grid-icon {
  background-image: url("assets/grid-menu-grey.svg");
  border-right: none;
}

.hamburger-icon:hover,
.new-profile-icon:hover,
.calendar-icon:hover,
.grid-icon:hover {
  background-color: #0094EE;
  cursor: pointer;
}

.hamburger-icon:hover {
  background-image: url("assets/hamburger-menu.svg");
}
.new-profile-icon:hover {
  background-image: url("assets/add-user.svg");
}
.calendar-icon:hover {
  background-image: url("assets/header-calendar.svg");
}
.grid-icon:hover {
  background-image: url("assets/grid-menu.svg");
}


/**********************
*********Header********
***********************/

.title-header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.headquarters,
.preview {
  display: inline-block;
  padding: 10px;
}

.headquarters {
  padding-left: 15px;
  background-image: url("assets/location-gray.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.title-divider {
  display: inline-block;
}

.preview {
  color: #2096F6;
}

.header-btn-container {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-btn {
  height: 35px;
  width: 35px;
  margin-left: 15px;
  border: solid #868994 1px;
  border-radius: 50%;
  background: none;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.bookmark-btn{background-image: url("assets/bookmark-grey.svg")}
.edit-btn{background-image: url("assets/pencil-grey.svg")}
.delete-btn{background-image: url("assets/garbage-grey.svg")}

.open-btn {
  margin-left: 0;
  width: 80px;
  border-radius: 25px;
  background: none;
  font-size: 12px;
  color: #5B6983;
}

.title-btn:hover {
  background-color: #0094EE;
  color: white;
  cursor: pointer;
}

.bookmark-btn:hover{background-image: url("assets/bookmark-white.svg")}
.edit-btn:hover{background-image: url("assets/pencil-white.svg")}
.delete-btn:hover{background-image: url("assets/garbage-white.svg")}

.open-dot {
  display: inline-block;
  background: #79C12D;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

/**********************
*********Tab Bar*******
***********************/

.tab-bar {
  padding: 0 30px;
  border-bottom: 1px solid #B9BDCC;
}

.tab {
  display: inline-block;
  padding: 15px 0;
  margin-right: 30px;
  border-bottom: solid #fff 3px;
  color: #B9BDCC;
}

.more {
  display: none;
  margin-right: 0;
}

.tab:hover {
  border-bottom: solid #2096F6 3px;
  color: #000;
}

.notifications-tab {
  margin-right: 0;
}

/**********************
********Top Main*******
***********************/

.top-main,
.divider,
.bottom-main {
  max-width: 1200px;
  margin: auto;
}


.top-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.progress-charts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.chart-btn {
  display: block;
  padding: 5px 15px;
  margin: 40px auto 0;
  border: solid #868994 1px;
  border-radius: 25px;
  background-color: #fff;
  color: #5B6983;
  cursor: pointer
}

.chart-btn:hover {
  border-color: #000;
  color: #000;
}

.pie-chart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: rotate(-135deg);
  text-align: center;
  height: 150px;
  width: 150px;
  border: 10px solid #D2D8E0;
  border-radius: 50%;
  margin: 15px;
}

.pie-hole {
  transform: rotate(135deg);
}

.applicants {
  border-color: #4EB8BF #4EB8BF #4EB8BF #D2D8E0;
}

.interviews {
  border-color: #0094EE #0094EE #D2D8E0 #D2D8E0;
}

.forwards {
  border-color: #9E4CA3 #D2D8E0 #D2D8E0 #D2D8E0;
}

.chart-number {
  font-size: 30px;
  font-weight: 400;
}

.chart-text {
  font-size: 12px;
}

.graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graph-image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 165px;
}

.divider {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  background-color: #EDF2F6;
  padding: 10px 30px;
}

hr {
  width: 47%;
  margin-top: 12px;
  border: none;
  border-bottom: 1px solid #D2D8E0;
}

hr:first-child {
  margin-left: 0;
}

.divider-arrow {
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid #D2D8E0;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.up-arrow {
  display: inline-block;
  width: 14px;
  height: 14px;
  transform: rotate(180deg);
}

hr:last-child {
  margin-right: 0;
}



/**********************
******Stupid Table*****
***********************/

.bottom-main {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 30px;
  background-color: #EDF2F6;
}

table {
  width: 60%;
  border-collapse: collapse;
  background-color: #fff;
}

thead {
  background-color: #5B6983;
  color: #fff;
}

th {
  min-width: 155px;
  padding: 20px 0;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
}

.table-btn {
  padding: 5px;
  padding-left: 25px;
  border: none;
  background-color: #868994;
  background-image: url("assets/pencil-white.svg");
  background-size: 15px;
  background-position-y: 50%;
  background-position-x: 5px;
  background-repeat: no-repeat;
  color: #fff;
}

.table-btn:hover {
  cursor: pointer;
}

tr {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #D2D8E0;
}

td {
  padding: 20px 0;
}

tr:last-child {
  border-bottom: none;
}

.table-title {
  vertical-align:top;
  min-width: 155px;
  padding-right: 0;
}

.table-description {
  line-height: 18px;
}

.photo-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hire-photo {
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

/**********************
*******Social Box******
***********************/

.social-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}

.social-media {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: none;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-y: 50%;
  background-position-x: 20px;
  color: #fff;
  cursor: pointer;
}

.facebook {
  background-color: #3854B8;
  background-image: url("assets/003-facebook.svg");
}
.twitter {
  background-color: #0094EE;
  background-image: url("assets/002-twitter.svg");
}
.linkedin {
  margin-bottom: 0;
  background-color: #006AB1;
  background-image: url("assets/001-linkedin.svg");
}

.facebook:hover {background-color: #1f2f69;}
.twitter:hover {background-color: #054a74;}
.linkedin:hover {background-color: #03395d;}


.copy-input {
  padding: 15px 0 25px;
  border-bottom: 1px solid #D2D8E0;
}

.copy-input:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.share-title {
  padding: 10px 0 10px 25px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-y: 50%;
}

.link-to-job{background-image: url("assets/earth.svg")}
.widget{background-image: url("assets/widget.svg")}
.upload{background-image: url("assets/airplane.svg")}


.share-text {
  padding-bottom: 20px;
}

.copy-box {
  display: flex;
}

.copy-text,
.copy-btn {
  padding: 10px;
  border: none;
}

.copy-text {
  width: 75%;
}

.copy-text:last-child {
  width: 100%;
}

.copy-btn {
  flex-grow: 1;
  width: 25%;
  background: #35ACB5;
  color: #fff;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: #227980;
}

/**********************
*****Media Queries*****
***********************/

@media (max-width: 1200px) {
  .chart-area {
    flex-direction: column;
    width: 100%
  }

  .graph {
    padding-top: 40px;
  }

  .graph-image {
    margin-right: auto;
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 1020px) {
  .interviews-tab,
  .activity-tab,
  .broadcast-tab,
  .notifications-tab {
    display: none
  }

  .more {
    display: inline-block;
  }

  .bottom-main {
    flex-direction: column;
  }

  table,
  .social-box {
    width: 100%;
  }


  .social-box,
  .share {
    margin-top: 50px;
  }
}

@media (max-width: 800px) {
  .sidebar {
    transform: translateX(-200px);
    position: absolute;
  }
}


@media (max-width: 600px) {

  .title-header,
  .tab-bar,
  .chart-area,
  .bottom-main {
    padding-left: 10px;
    padding-right: 10px;
  }

  .tab-bar {
    display: flex;
    justify-content: center;
  }

  .job-tab {
    display: none;
  }

  .title-header {
    flex-direction: column;
  }

  .title-box {
    text-align: center;
  }
  .header-btn-container {
    margin-top: 20px;
    justify-content: center;
  }

  .graph-image {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .menu,
  .menu-item {
    height: 50px;
    border-bottom: solid #F0F0F0 1px;
  }

  .menu-item {
    background-size: 15px;
  }

  .hamburger-icon {
    width: 50px;
  }

  .search,
  .search::placeholder {
    font-size: 12px;
  }

  .search {
    padding-left: 40px;
    background-position-x: 15px;
  }

  .more-1,
  .job-tab {
    display: none;
  }

  .table-header {
    margin-right: 20px;
  }
  tbody tr {
    flex-direction: column;
  }

  th {
    min-width: auto;
  }

  .table-title {
    padding-bottom: 0;
  }
}
